<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head', { pageStyles: ['sprintCss'] }) %>
    <title>Sprint - SprintPilot</title>
  </head>
  <body>
    <!--style="background-color: #6a5acd; display: flex; justify-content: center; align-items: center; min-height: 100vh; margin: 0;"-->
    <!-- navbar -->
    <%- include('./partials/navbar') %>

    <main>
      <!--Container-->
      <div class="sprint">
        <!--Cabezado-->
        <div class="d-flex justify-content-between align-items-center">
          <h2>Sprint</h2>     <!--sprint.id o sprints.end de BBDD-->
          <a id="openModal" class="btn bg-primary text-white fw-bold"> + Nuevo </a>
        </div>

        <hr class="mt-1" />

        <!--Sprint Actual-->
        <div class="contenidoSprint">
          <h3>Sprint Goal</h3>

          <div class="d-flex align-items-center">
            <h3  class="mb-0 me-5">Requisitos</h3>     <!--sprint.id o sprints.end de BBDD-->
            <a id="openModal" class="btn bg-primary text-white fw-bold"> Añadir </a>
          </div>

          <!--Aquí luego añadirá un for que recorre los requisitos que tiene ese sprint-->
          <div class="requisitosSprint">
            <h4>1. </h4>
            <h4>2.</h4>
            <h4>3.</h4>
            <!--if(requisitos existe y length>0)
                  forEach-->
          </div>

        </div>

    </main>


    <!--No se como se hace para que este enlace queda por encima de footer
    ahora está volando ( osea cambia dependiendo de main)-->
<!-- Enlace fijo antes del footer -->
<div style="text-align: center; margin-top: 40px;">
  <a href="#sprintsPasados" style="
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
  ">
    <h3>Sprints Pasados</h3>
  </a>
</div>

<!-- Sprints Pasados -->
<div id="sprintsPasados" class="sprints-pasados mt-5">
  <h2 class="text-center mb-4">Sprints Pasados</h2>

  <div class="lista-sprints-pasados">
    <% sprintsPasados.forEach(sprint => { %>
      <div class="sprint-card-faded">
        <h3><%= sprint.nombre %></h3>
        <p><strong>Objetivo:</strong> <%= sprint.goal %></p>
      </div>
    <% }) %>
  </div>
</div>

<!-- footer -->
<%- include('./partials/footer') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/projectValidation.js"></script>
  </body>
</html>
