<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head', { pageStyles: ['sprintCss'] }) %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/navbar') %>

    <main>
      <div class="sprint">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Sprint #<%= sprint ? sprint.identificador : '?' %></h2> 
          <a id="openModal" class="btn bg-primary text-white fw-bold"> + Nuevo </a>
        </div>

        <hr class="mt-1" />

        <div class="contenidoSprint">
          <h3>Sprint Goal</h3>
          <p class="mb-4">
            <%= sprint ? sprint.sprintGoal : 'No hay un objetivo definido para este sprint.' %>
          </p>

          <div class="d-flex align-items-center">
            <h3 class="mb-0 me-5">Requisitos</h3>
            <a id="openModalRequisito" class="btn bg-primary text-white fw-bold"> Añadir </a>
          </div>

          <div class="requisitosSprint">
            <% if (sprint && sprint.num_requisitos > 0) { %>
                <p>Este sprint tiene <%= sprint.num_requisitos %> requisitos asignados.</p>
                <% } else { %>
                <h4>No hay requisitos asignados a este sprint aún.</h4>
            <% } %>
          </div>
        </div>
      </div>
    </main>

    <div id="sprintsPasados" class="sprints-pasados mt-5 container">
      <h2 class="text-center mb-4">Sprints Pasados</h2>

      <div class="lista-sprints-pasados">
        <% if (sprintsPasados && sprintsPasados.length > 0) { %>
          <% sprintsPasados.forEach(s => { %>
            <a
              href="/<%= project_id %>/sprint/<%= s.identificador %>"
            >
              <div class="sprint-card-faded mb-3">
                <h3>Sprint #<%= s.identificador %></h3>
                <p><strong>Objetivo:</strong> <%= s.sprintGoal %></p>
              </div>
            </a>
          <% }) %>
        <% } else { %>
          <p class="text-center text-white-50">No hay historial de sprints anteriores.</p>
        <% } %>
      </div>
    </div>

    <%- include('./partials/footer') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/SprintValidation.js"></script>
  </body>
</html>