<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>
    <title><%= title %></title>
  </head>

  <body>
    <%- include('./partials/navbar') %>

    <main class="m-auto mt-5" style="width: 90%;">
        <div class="card-requisito p-4 rounded-3 d-flex flex-column">
            <div class="d-flex gap-5 align-items-start">
                <p class="badge bg-primary fs-4"><%= project_id + "-" + requisito.identificador %></p>
                <h2 class="text-center flex-grow-1">
                    Detalle: <%= requisito.nombre %>
                    <hr>
                </h2>
            </div>
            
            <div class="req-body">
                <h4>Descripción:</h4>
                <p><%= requisito.descripcion %></p>
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h4 class="text-center">Prioridad:</h4>
                        <p class="p-2 text-white text-center fw-bold rounded-3
                        <% if(requisito.prioridad == "high") {%>
                            bg-danger
                        <% } else if(requisito.prioridad == "medium") { %>
                            bg-warning
                        <% } else { %>
                            bg-info
                        <% } %>
                        "><%= requisito.prioridad.toUpperCase() %></p>
                    </div>
                    <div>
                        <h4 class="text-center">Estado:</h4>
                        <p class="p-2 text-white text-center fw-bold rounded-3
                        <% if(requisito.estado == "in-progress") {%>
                            bg-primary
                        <% } else if(requisito.estado == "completed") { %>
                            bg-success
                        <% } else { %>
                            bg-secondary
                        <% } %>
                        "><%= requisito.estado.toUpperCase() %></p>
                    </div>
                    <div>
                        <h4 class="text-center">Responsable:</h4>
                        <p class="text-center"><%= requisito.responsable %></p>
                    </div>
                </div>
            </div>

            <a href="/<%= requisito.project_id %>/backlog" class="btn btn-secondary fw-bold">Volver</a>
        </div>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>