<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>
    <title><%= title %></title>
  </head>

  <body>
    <%- include('./partials/navbar') %>
    <div class="container mt-5">
        <h2>Editar HU</h2>
        <form action="/api/<%= project_id %>/hus/update/<%= hu._id %>" method="POST">
            <input type="text" name="nombre" value="<%= hu.nombre %>" class="form-control mb-2">
            <textarea name="descripcion" class="form-control mb-2"><%= hu.descripcion %></textarea>
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
            <a href="/<%= project_id %>/backlog" class="btn btn-danger">Cancelar</a>
        </form>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>